fastapi
uvicorn[standard]
sqlalchemy
opencv-python-headless
face_recognition
numpy
pandas
openpyxl
jinja2
python-multipart
websockets
redis
psycopg2-binary
pydantic>=2.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt